/Command.class
/Drink.class
/Enemy.class
/Exit.class
/Food.class
/Game.class
/Hero.class
/House.class
/LockedExit.class
/Map.class
/NPC.class
/Neutral.class
/Object.class
/SimpleExit.class
/Street.class
/TypeDrink.class
/TypeFood.class
/TypeWeapon.class
/Weapon.class
