/Command.class
/CommandGo.class
/CommandHelp.class
/CommandLook.class
/CommandAttack.class
/CommandStatus.class
/CommandQuit.class
/CommandTalk.class
/CommandInventory.class
/CommandUse.class
/CommandTake.class
